<%= form_for(architecture) do |f| %>
  <% if architecture.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(architecture.errors.count, "error") %> prohibited this architecture from being saved:</h2>

      <ul>
      <% architecture.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<table class="table table-bordered">
    <tr>
      <th scope="row" class="row-description">Description</th>
      <td><%= f.text_area(:description, class: "form-control") %></td>
    <tr>
    <tr>
      <th scope="row" class="row-description">Architecture File</th>
      <td><%= f.file_field(:diagram, class: "btn btn-default btn-file") %></td>
    </tr>
    <%= f.hidden_field(:form_id, value: Form.last.id) %>
</table>

  <div class="add-server-button">
    <%= f.submit("Upload Architecture", class: "btn btn-success pull-left") %>
  </div>

  <div>
    <% if Form.last.architecture == nil %>
      <div class="col-md-12"><center>Upload your architecture diagram. Image format only!</center></div>
    <% else %>
      <div class="img-fluid img-rounded m-x-auto d-block">
        <%= image_tag(Form.last.architecture.diagram.url, class: "img-fluid img-rounded m-x-auto d-block", style: "margin: 5em; 0; 1.5em; 0;") %>
      </div>
    <% end %>
  </div>
<% end %>
