<%= form_for(architecture) do |f| %>
  <% if architecture.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(architecture.errors.count, "error") %> prohibited this architecture from being saved:</h2>

      <ul>
      <% architecture.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<table class="table table-bordered">
    <tr>
      <th scope="row" class="row-description">Description</th>
      <td><%= f.text_area(:description, class: "form-control") %></td>
    <tr>
    <tr>
      <th scope="row" class="row-description">Architecture File</th>
      <td><%= f.file_field(:diagram, class: "btn btn-default btn-file") %></td>
    </tr>
    <td><%= f.hidden_field(:form_id, value: Form.form_counter) %></td>
</table>

  <div>
    <%= f.submit("Upload Architecture", class: "btn btn-primary pull-right") %>
  </div>
<% end %>
