<%= form_for(task) do |f| %>
  <% if task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<table class="table table-bordered">
  <% if current_user.forms.last.tasks.count == 0 %>
  There are no configured tasks.
  <tr>
    <th class="row-description">Crontab Entry</th>
    <td><%= f.text_field :crontab, class: "form-control" %></td>
    <td><%= f.submit("Add Task", class: "btn btn-success") %></td>
        <%= f.hidden_field(:form_id, value: current_user.forms.last.id) %>
  </tr>
  <% else %>
  <% current_user.forms.last.tasks.each do |task| %>
    <tr>
      <th class="row-description">Crontab Entry</th>
      <td><%= task.crontab %></td>
      <td><%= link_to 'Remove', task, method: :delete, class: "btn btn-danger", data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
  <th class="row-description">Crontab Entry</th>
  <td><%= f.text_field :crontab, class: "form-control" %></td>
  <td><%= f.submit("Add Task", class: "btn btn-success") %></td>
      <%= f.hidden_field(:form_id, value: current_user.forms.last.id) %>
  <% end %>
</table>
<% end %>
