<%= form_for(server) do |f| %>
  <% if server.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(server.errors.count, "error") %> prohibited this server from being saved:</h2>

      <ul>
      <% server.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="jumbotron">
   <h1>Important Notes For Completing This Form</h1>
   <p>Each section of the Server Build Book must be completed in full.  If a particular section is not applicable to this project, then you must write <i>Not Applicable</i> and provide a reason.</p>
   <p><strong>Important Note:</strong> No sections are to be ignored from this form</p>
   <p>Text contained within << >> provides information on how to complete or more detailed description of what needs to be captured in that section and can be deleted once the section has been completed.</p>
 </div>

<h3>Server Specifications</h3>
<p id="notice"><%= notice %></p>

<table class="table table-bordered">

  <tr>
    <th class="row-description">Host Name</th>
    <th class="row-description">IP Address</th>
    <th class="row-description">Operating System</th>
    <th class="row-description">CPU Cores</th>
    <th class="row-description">Memory(GB)</th>
    <th class="row-description">Disk Space(GB)</th>
  </tr>


<% if Form.last.servers.count == 0 %>
  <%= "There are no configured servers. Add some." %>
    <td><%= f.text_field :host_name, class: "form-control" %></td>
    <td><%= f.text_field :ip_address, class: "form-control" %></td>
    <td><%= f.select :operating_system, options_for_select(["Ubuntu", "CentOS"]) %></div>
    <td><%= f.number_field :cpu_cores, class: "form-control" %></td>
    <td><%= f.number_field :memory, class: "form-control" %></td>
    <td><%= f.number_field :disk_space, class: "form-control" %></td>
  <%= f.hidden_field(:form_id, value: Form.form_counter) %>
<% else %>
  <% Form.last.servers.each do |server| %>
    <tr>
      <td><%= server.host_name %></td>
      <td><%= server.ip_address %></td>
      <td><%= server.operating_system %></td>
      <td><%= server.cpu_cores %></td>
      <td><%= server.memory %></td>
      <td><%= server.disk_space %></td>
      <td><%= link_to 'Remove', server, method: :delete, class: "btn btn-danger", data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
  <tr>
    <td><%= f.text_field :host_name, class: "form-control" %></td>
    <td><%= f.text_field :ip_address, class: "form-control" %></td>
    <td><%= f.select :operating_system, options_for_select(["Ubuntu", "CentOS"]) %></div>
    <td><%= f.number_field :cpu_cores, class: "form-control" %></td>
    <td><%= f.number_field :memory, class: "form-control" %></td>
    <td><%= f.number_field :disk_space, class: "form-control" %></td>
        <%= f.hidden_field(:form_id, value: Form.form_counter) %>
  </tr>
<% end %>
</table>
<div class="add-server-button">
  <%= f.submit("Add Server", class: "btn btn-success pull-left") %>
</div>

<% end %>
