<%= form_for(firewall, {url: url_for(controller: 'firewalls', action: 'firewall_create')}) do |f| %>
  <% if firewall.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(firewall.errors.count, "error") %> prohibited this firewall from being saved:</h2>

      <ul>
      <% firewall.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :details %>
    <%= f.text_area :details, class: "form-control" %>
    <%= f.hidden_field(:form_id, value: Form.last.id) %>
  </div>

  <div class="col-md-6">
    <%= f.submit("Submit", class: "btn btn-primary, btn btn-success") %>
  </div>

  <% if Firewall.firewall_count != 0 %>
    <div class="col-md-6">
      <%= f.submit("Edit", class: "btn btn-primary, btn btn-success") %>
    </div>
  <% end %>
<% end %>
