<%= form_for(firewall, {url: url_for(controller: 'firewalls', action: 'firewall_create')}) do |f| %>
  <% if firewall.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(firewall.errors.count, "error") %> prohibited this firewall from being saved:</h2>

      <ul>
      <% firewall.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table class="table table-bordered">
    <tbody>
      <tr>
        <th scope="row" class="row-description">Details</th>
        <td><%= f.text_area :details, class: "form-control" %></td>
            <%= f.hidden_field(:form_id, value: Form.last.id) %>
      </tr>
    </tbody>
  </table>
  <div>
    <%= f.submit("Submit", class: "btn btn-primary, btn btn-success") %>
  </div></br>
  <div class="col-md-12">
    <h6>Details:</h6>
    <%= Firewall.firewall_detail %>
  </div>
<% end %>
