<%= form_for(form) do |f| %>
  <% if form.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(form.errors.count, "error") %> prohibited this form from being saved:</h2>

      <ul>
      <% form.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="jumbotron">
  <h1>Server Build Book</h1>
  <h6><strong>Purpose:</strong> The Server Build Book documentation is intended to provide Operations with an accurate account of all configurations modifications to get the server to its production state including any configuration modifications made as a result of vulnerability assessments and other security hardening efforts. Related relevant information pertaining to applications and databases hosted on these environments can be found in the companion Application Build Book.</h6>
</div>
<h3>General Info</h3>
<table class="table table-bordered">
  <tbody>
    <tr>
      <th scope="row" class="row-description">Server Environment</th>
      <%#= f.select :server_environment, options_for_select(["Development", "QA", "Production"])  %>
      <td>
        <%= f.label(:server_environment, 'Development') %>
        <%= f.radio_button(:server_environment, 'development') %>
        <%= f.label(:server_environment, 'Test') %>
        <%= f.radio_button(:server_environment, 'test') %>
        <%= f.label(:server_environment, 'QA') %>
        <%= f.radio_button(:server_environment, 'qa') %>
        <%= f.label(:server_environment, 'Production') %>
        <%= f.radio_button(:server_environment, 'production') %>
      </td>
    </tr>

    <tr>
      <th scope="row" class="row-description">Server Location</th>
      <td><%= f.text_field(:server_location, class: "form-control") %></td>
    </tr>

  <tr>
    <th scope="row" class="row-description">Server Purpose</th>
    <td><%= f.text_area(:server_purpose, class: "form-control") %></td>
  </tr>

  <tr>
    <th scope="row" class="row-description">Project Name</th>
    <td><%= f.text_field(:project_name, class: "form-control", placeholder: "CASE, IMS, B&H, etc") %></td>
  </tr>

  <tr>
    <th scope="row" class="row-description">Server Accessibility</th>
    <td>
      <%= f.label :server_accessibility,'Internal' %>
      <%= f.radio_button(:server_accessibility,'internal') %>
      <%= f.label :server_accessibility,'External' %>
      <%= f.radio_button(:server_accessibility,'external') %>
      <%= f.label :server_accessibility,'Both' %>
      <%= f.radio_button(:server_accessibility,'both') %>
    </td>
  </tr>

  <tr>
    <th scope="row" class="row-description">Project Description</th>
    <td><%= f.text_area(:project_description, class: "form-control") %></td>
  </tr>
 </tbody>
</table>

  <div>
    <%= f.submit("Next", class: "pull-right btn btn-primary") %>
  </div>
<% end %>
