<p id="notice"><%= notice %></p>

<h1>Forms</h1>

<table>
  <thead>
    <tr>
      <th>Server environment</th>
      <th>Server location</th>
      <th>Server purpose</th>
      <th>Project name</th>
      <th>Server accessibility</th>
      <th>Project description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @forms.each do |form| %>
      <tr>
        <td><%= form.server_environment %></td>
        <td><%= form.server_location %></td>
        <td><%= form.server_purpose %></td>
        <td><%= form.project_name %></td>
        <td><%= form.server_accessibility %></td>
        <td><%= form.project_description %></td>
        <td><%= link_to 'Show', form %></td>
        <td><%= link_to 'Edit', edit_form_path(form) %></td>
        <td><%= link_to 'Destroy', form, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Form', new_form_path %>
