<%= form_for(certificate) do |f| %>
  <% if certificate.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(certificate.errors.count, "error") %> prohibited this certificate from being saved:</h2>

      <ul>
      <% certificate.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table class="table table-bordered">
    <tbody>
      <tr>
        <th scope="row" class="row-description">Certificate classfication, description or identification.</th>
        <td>
          <strong>Provide details on how the SSL Certificates are used</strong></br></br>
          <%= f.label(:description, 'Web server to application') %>
          <%= f.radio_button(:description, 'Web server to application') %>
          <%= f.label(:description, 'Application to database') %>
          <%= f.radio_button(:description, 'Application to database') %>
        </td>
      </tr>
      <tr>
        <th scope="row" class="row-description">Certificate Expiration</th>
        <td><%= f.date_field :expiration, class: "form-control" %></td>
      </tr>
      <%= f.hidden_field(:form_id, value: current_user.forms.last.id) %>
    </tbody>
  </table>

  <div class="actions">
    <%= f.submit("Submit", class: "btn btn-success") %>
  </div>
<% end %>
